@{
    ViewData["Title"] = "Принтер";
}

<div class="text-center">
    <h1 class="display-4">Имитация считывания карты Rfid-сканером</h1>

    <form action ="">
        <label for="pin">Введите Uid вашей карты</label>
        <input type="password" id="pin" placeholder="000000">
    </form>

    <input type="submit" value="Сохранить" class="btn btn-primary" />
</div>
