@{
    ViewData["Title"] = "О системе";
}

<div class="text-center">
    <h1 class="display-4">МСАРМ "Сподручный"</h1>

    <p>Эта система моделирует работу сотрудника при печати конфиденциальных документов. В жизни данные должны отправляться
        с пк на принтер. Принтер должен распечатать документ из очереди только после того как сотрудник
        подойдет к нему и поднесет к датчику рфид-карточку. После считывания карты, принтер распечатывает документ из очереди,
        который соответствует uid карты работника. Документ удаляется из очереди. Система ведет аудит печати.
    </p>
</div>
